# subdirectories
__pycache__/
data_collection/data/
one_off_scripts/

# local directory information
data_collection/spotify_api/spotify_keys.py
data_collection/spotify_desktop.sikuli/local_dirs*

# "not ready" files
data_collection/model_optimization.ipynb

# Best practices
# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite
